
<div>
    <h2>Reminder </h2>
<ul>
<li>    Hello and thank you for calling Hologram USA
</li><li>

    May I have your name, telephone number and email.
    </li><li>



    RESPONSE – Don’t have an email
    </li><li>



    Ok – well I am afraid you will need to have an email to complete this transaction.
    </li><li>



    Can I please confirm your email? READ BACK THEIR EMAIL
    </li><li>



    Due to high volume of calls I’ve been asked to forward you the share subscription agreement so you can look it over sign it and send it back.
    </li><li>

    Are you able to check your email?
    </li><li>

    Did you receive the subscription agreement?
    </li><li>



    RESPONSE
    </li><li>



    YES – OK great. After you fill in your subscription agreement you will be directed to a payment page where you will also have a link to download the Hologram USA Media Kit. Most questions you have will be answered there.
    </li><li>



    NO – ok – fine.  When you are able to check your email please sign and return the Subscription agreement before we can go any further. After you fill in your subscription agreement you will be directed to a payment page where you will also have a link to download the Hologram USA Media Kit. Most questions you have will be answered there.
    </li><li>



    Once you confirm your email online you will be redirected to the Hologram USA share subscription agreement
    </li><li>

    Please make sure you fill in how many shares you would like to buy and you will be directed to the payment page
    </li><li>

    There you will also find a link to the Hologram USA Media Kit and SEC filing documents we will be using for our Public offering.
    </li><li>

    A qualified Investor relations officer will be in touch wit you soon.
    </li>
</ul>

    <!--
    <ul>
        <li>Hello and thank you for calling Hologram USA
        </li><li>

May I have your name, telephone number and email.
        </li><li>


FILL IN THE NAME AND EMAIL HERE



        </li><li>

RESPONSE – Don’t have an email

        </li><li>
Ok – well I am afraid you will need to have an email to complete this transaction.
        </li>


<hr/>

        <li>
Can I please confirm your email? READ BACK THEIR EMAIL
        </li><li>


Due to high volume of calls I’ve been asked to forward you the share subscription agreement so you can look it over sign it and send it back.
        </li><li>


Are you able to check your email?
        </li><li>


Did you receive the subscription agreement?
        </li>
<hr/>

        <li>

RESPONSE
        </li><li>


YES – OK great. After you fill in your subscription agreement you will be directed to a payment page where you will also have a link to download the Hologram USA Media Kit. Most questions you have will be answered there.
        </li><li>


NO – ok – fine.  When you are able to check your email please sign and return the Subscription agreement before we can go any further. After you fill in your subscription agreement you will be directed to a payment page where you will also have a link to download the Hologram USA Media Kit. Most questions you have will be answered there.
        </li>





<hr/>
        <li>
Once you confirm your email online you will be redirected to the Hologram USA share subscription agreement.
        </li><li>


Please make sure you fill in how many shares you would like to buy and you will be directed to the payment page.
        </li><li>


There you will also find a link to the Hologram USA Media Kit and SEC filing documents we will be using for our Public offering.
        </li><li>


A qualified Investor relations officer will be in touch wit you soon.
        </li><li>


Thank you for calling Hologram USA!
        </li>
    </ul> -->
</div>