Hello <%= fullname %>!

<img src="cid:hologramlogo@hologramusa.com" />

<p>
Thank you for contacting Hologram USA Investor Relations
</p>
<p>
Please make sure you have filled in the Hologram USA Shares Subscription Agreement
</p>
<a href="http://www.HologramUSA.com/invest"> http://www.HologramUSA.com/invest </a>

<p>
Once you have filled this in you will be directed to the payment page as well as to links to download the Hologram USA Media Kit and other relevant links such as our SEC Filings for our Public offering. Our reserved Nasdaq symbol is HOLO
</p>
<p>
An Investment relations executive will be calling you soon.
</p>
<p>
Thank you for contacting Hologram USA!
<br/>
Team Hologram USA
</p>
