<% layout('layouts/echeck') %>

<style>
    .nav {
        margin-bottom: 0px;
        padding-left:0; margin-bottom: 0; list-style: none;
    }
    .nav:before {
        display: table; content:'';
    }
    .nav-tabs>li {
        float:left;
        margin-bottom: -1px;
    }
    .nav>li {
        position: relative;display: block;
        padding-right: 1rem;
    }
    .sw-theme-arrows > ul.step-anchor > li > a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid #ddd;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
    }
</style>

<div class="container">

<form action="" class="needs-validation " >

    <div id="wizard" class="sw-main sw-theme-default" >
        <ul class="nav nav-tabs step-anchor">
            <li>
                <a href="#step-1">Intro<br/><small></small></a>
            </li>
            <li>
                <a href="#step-2" class="pl-1">Step 1<br/><small class="pl-1">Personal Info</small></a>
            </li>
            <li>
                <a href="#step-3" class="pl-1">Step 2<br/><small class="pl-1">Address</small></a>
            </li>
            <li>
                <a href="#step-4" class="pl-1">Step 3<br/><small class="pl-1">Bank Info</small></a>
            </li>
            <li >
                <a href="#step-5" class="pl-1">Review<br/><small class="pl-1"></small></a>
            </li>
        </ul>


        <div class="sw-container tab-content">
            <div id="step-1" class="step-content">
                <div class="media ">

                    <div class="media-body">

                        <em>
                            Please fill in the form to invest now. Once you have completed the form successfuly we will issue your shares.
                            <br/>
                            Should you wish to make any changes please <a href="https://hologramusa.net/pages/contact" target="_blank">email us here</a>.
                            <br/>
                            Issuance of shares can take up to 5 business days.
                        </em>
                        <div class="clearfix"></div>
                        <img src="/echeck/dist/IdentifyingCheck.gif" width="500px"/>
                    </div>
                </div>
            </div>


            <div id="step-2" class="step-content">
                <h2 class="StepTitle"> Personal Information </h2>
                <div class="form-group row ">
                    <label for="inputPassword4" class="col-sm-3 col-form-label">Full Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputPassword4" placeholder="name" name="name" autocomplete="name" required>
                        <div class="invalid-feedback">Please enter your full name</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail4" class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" required autocomplete="email" pattern="^.+\@.+\..+$">
                        <div class="invalid-feedback">Please enter a valid Email</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputEmail4" class="col-sm-3 col-form-label">Phone</label>
                    <div class="col-sm-9">
                        <input type="tel" class="form-control" id="inputEmail4" placeholder="999-999-9999."
                               name="phone" autocomplete="phone" pattern="^[0-9]{3}-?[0-9]{3}-?[0-9]{4}$" required>
                        <div class="invalid-feedback">Please enter a valid 10-digit US Phone Number</div>
                    </div>
                </div>

            </div>

            <div id="step-3" class="step-content">
                <h2 class="StepTitle"> Billing Address  </h2>

                <div class="form-row">
                    <div class="col-sm-6 mb-3">
                        <label for="inputCity">City</label>
                        <input type="text" class="form-control" id="inputCity" autocomplete="address-level2" required name="city">
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label for="inputState" class="">State</label>
                        <select id="inputState" class="form-control" name="state" autocomplete="address-level1" required>
                            <option selected value="">Choose...</option>
                            <% Object.keys(usps).forEach( function(state)  {  %>
                            <option value="<%=state%>"><%=usps[state]%></option>
                            <% }); %>
                        </select>
                        <div class="invalid-feedback">
                            Please choose a state.
                        </div>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label for="inputZip" class="">Zip</label>
                        <input type="text" class="form-control" id="inputZip" placeholder="99999-9999" autocomplete="postal-code" name="zip" required pattern="^[0-9]{5}(?:-[0-9]{4})?$">
                        <span class="glyphicon glyphicon-ok form-control-feedback"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>

                </div>

                <div class="form-group row ">
                    <label for="inputAddress" class="col-sm-3 col-form-label">Address 1</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"  required name="address1" autocomplete="address-line1">
                        <div class="invalid-feedback"> Please provide your Address </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputAddress2" class="col-sm-3 col-form-label">Address 2</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor"  name="address2" autocomplete="address-line2">
                    </div>
                </div>

            </div>

            <div id="step-4" class="step-content">
                <h2 class="StepTitle"> Bank Info</h2>

                <div class="form-group row">
                    <label for="bankName" class="col-sm-3 col-form-label"> Bank Name </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="bankName" name="bankName" autocomplete="off"  required/>
                        <div class="invalid-feedback"> Please enter a bank name</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="accountNumber" class="col-sm-3 col-form-label">Account Number</label>
                    <div class="col-sm-9">
                        <input class="form-control"  type="text" id="accountNumber" name="accountNumber" autocomplete="off" placeholder="Account Number" required />
                        <div class="invalid-feedback"> Please provide account number</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="routingNumber" class="col-sm-3 col-form-label">Routing Number</label>
                    <div class="col-sm-9">
                        <input class="form-control"  type="text" id="routingNumber" name="routingNumber" autocomplete="off" placeholder="routing Number" required />
                        <div class="invalid-feedback"> Please provide routing number</div>
                    </div>
                </div>


                <div class="form-group row">
                    <label  for="checkAmount" class="col-sm-3 col-form-label">Investment</label>
                    <div class="col-sm-9">
                        <select name="checkAmount" class="form-control" required>
                            <option selected value="">Choose...</option>
                            <option value="400"> $400 </option>
                            <option value="1000"> $1000 </option>
                            <option value="3000"> $3000</option>
                            <option value="5000"> $5000</option>
                            <option value="10000"> $10.000</option>
                            <option value="15000"> $15.000</option>
                            <option value="20000"> $20.000</option>
                            <option value="30000"> $30.000</option>
                            <option value="40000"> $40.000</option>
                            <option value="50000"> $50.000</option>
                            <option value="80000"> $80.000</option>
                            <option value="100000"> $100.000</option>
                            <option value="150000"> $150.000</option>
                            <option value="200000"> $200.000</option>
                            <option value="300000"> $300.000</option>
                            <option value="400000"> $400.000</option>
                            <option value="500000"> $500.000</option>
                            <option value="600000"> $600.000</option>
                            <option value="700000"> $700.000</option>
                            <option value="800000"> $800.000</option>
                            <option value="900000"> $900.000</option>
                            <option value="1000000"> $1.000.000</option>
                            <option value="2500000"> $2.500.000</option>
                            <option value="3000000"> $3.000.000</option>
                        </select>
                    </div>
                    <div class="invalid-feedback">Please choose investment amount</div>
                </div>

            </div>

            <div id="step-5" class="step-content">
                <h2 class="StepTitle"> Review </h2>
                <div class="jumbotron review">
                    <small>
                        <div class="row">
                            <div class="col col-xs-2 ">Name:</div><div class="name col col-xs-8"> <em>Firstname LastName </em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">Email:</div><div class="email col col-xs-8"><em>Example@nowhere.com</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">Phone:</div><div class=" phone col col-xs-8"><em> 0123456789</em></div>
                        </div>
                        <hr/>
                        <div class="row">

                            <div class="col col-xs-2 ">City:</div><div class=" city col col-xs-8"> <em>Los Angeles</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">state:</div><div class=" state col col-xs-8"> <em>CA</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">zip:</div><div class=" zip col col-xs-8"> <em>123456-7890</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">Address:</div><div class=" address1 col col-xs-8"> <em> Address Line 1 Long</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 "></div><div class="address2 col col-xs-8"><em>Address Line 2</em></div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col col-xs-2 ">Bank:</div><div class="bankName col col-xs-8"> <em>City National</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">Routing:</div><div class="routingNumber col col-xs-8"> <em> 1234567890</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">Account No:</div><div class="accountNumber col col-xs-8"> <em> 1234567890</em></div>
                        </div><div class="row">
                            <div class="col col-xs-2 ">Account No:</div><div class="checkAmount col col-xs-8"> <em> 1234567890</em></div>
                        </div>



                    </small>
                </div>
            </div>

        </div>



    </div>

</form>

    <div class="jumbotron thankyou d-none">
        <h1> Thank You!</h1>
    </div>
</div>

















    <script type="text/javascript">
        $(document).ready(function() {
            var btnFinish = $('<button></button>').text('Submit')
                .addClass('btn btn-info btn-finish submit')
                .on('click', function() {
                    if (  checkForm() ) {
                        $('form').submit();
                        return false;
                    } else {
                        console.log("There is an errors in the past.");
                        return false;
                    }
                });

            $('#wizard').smartWizard({
                transitionEffect: 'fade',
                selected: 0,
                autoAdjustHeight: false,
                useURLhash: false,
                keyNavigation: false,
                anchorSettings: {
                    markDoneStep: true,
                    markAllPreviousStepsAsDone: true,
                    enableAnchorOnDoneStep: true
                },
                toolbarSettings : { toolbarPosition: 'bottom', toolbarExtraButtons : [btnFinish]}
            });
            $('.btn-finish').addClass('disabled').prop('disabled', true);
            $('.sw-btn-prev').addClass('d-none');
            $('.sw-btn-next').text('Got it!');
            $('.btn-finish').addClass('d-none').prop('disabled', true);

            // Step show event
            $("#wizard").on("showStep", function(e, anchorObject, stepNumber, stepDirection, stepPosition) {
                if ( stepNumber == 0 ) {

                        $('.sw-btn-prev').addClass('d-none');
                        $('.sw-btn-next').text('Got it!');

                } else {

                        $('.sw-btn-prev').removeClass('d-none');
                        $('.sw-btn-next').text('Next');

                }
                console.log("You are on step "+stepNumber+" now");
                if ( stepNumber == 4) {

                        let formData = collectFormData();
                        Object.keys(formData).forEach(function(key) {
                            $('.review').find('div.' + key).text(formData[key]);
                        });

                        $('.btn-finish').removeClass('d-none').prop('disabled', false);
                        $('.sw-btn-next').addClass('d-none');

                } else {

                        $('.btn-finish').addClass('d-none').prop('disabled', true);
                        $('.sw-btn-next').removeClass('d-none');

                }
            });

            $('#wizard').on('leaveStep', function(e, anchorObject, stepNumber, stepDirection) {

                if ( stepNumber == 0 ) {
                    return true;
                }
                let formPart = $('#step-' + (stepNumber+1));

                console.log("Leave Step:", stepNumber);
                if(stepDirection === 'forward' ){
                    return checkForm(true, formPart);
                }
                return true;
            });

            let button = $('.btn.btn-finish.submit');

            function post(data) {
                return fetch(window.location.pathname, {
                    headers: {'Accept': 'application/json', 'Content-Type' : 'application/json'},
                    method: 'POST',
                    credentials: 'include',
                    body: JSON.stringify(data )
                }).then(function(res) {
                    if ( res.status < 400) {
                        $('form').addClass('d-none');
                        $('.jumbotron.thankyou').removeClass('d-none');

                    } else {
                        if ( res.status < 500 ) {
                            res.json().then((body) => {
                                console.error("Something Wrong With request:", res.status, res.json());
                                alert(body.ResultDescription + "\n" + body.VerifyResultDescription);
                            })
                        } else {
                            console.error("Something wrong with server:", res.status);
                            alert("Internal Server Error");
                        }
                    }

                }).catch(function(err) {
                    console.error("Could not get response from server: ", err);
                    alert("Internal Server Error, Could not get response from remote server");
                });
            }


            function checkForm( elemIsDirty, formPart ) {
                formPart = formPart  || $('form');
                var has_errors = false;
                let errors = [];

                formPart.find('input[required], select').each( (index, elem) => {

                    let regexp = new RegExp($(elem).attr('pattern') || '.*');
                    if ( !$(elem).val() || ! regexp.test($(elem).val() ) ) {
                        has_errors = true;
                        $(elem).removeClass('is-valid');
                        elemIsDirty = typeof elemIsDirty === "undefined" ? elem.dirty : elemIsDirty;
                        if (elemIsDirty || $(elem).hasClass('.is-invalid') || $(elem).hasClass('.is-valid') ) $(elem).addClass('is-invalid');
                        console.log($(elem).attr('name') + " is invalid ");
                        errors.push($(elem).attr('name') + " is invalid ");
                    } else {
                        $(elem).addClass('is-valid').removeClass('is-invalid');
                    }
                });
                if ( has_errors ) {
                    console.log(errors);
                }
                return !has_errors;
            }
            var checkTimeout = null;
            let validateOnChange = (e) => {
                let formGroup = $(e.target).parents('div:first')
                clearTimeout(checkTimeout);
                checkTimeout = setTimeout(function() {
                    checkForm(undefined, formGroup);
                }, );
            };


            $('input, select').on('focusout', function() { this.dirty = true; } );
            $('input').on('keyup', validateOnChange);
            $('select').on('change', validateOnChange);


            function collectFormData() {
                var formdata = {};
                $('input, select').each(function (index, elem) {
                    formdata[$(elem).attr('name')] = $(elem).val();
                });
                return formdata;
            }

            $('form').on('submit', function(e) {
                e.preventDefault();


                if ( ! checkForm(true) ) {
                     console.error("Form Invalid:");
                    return false;
                }
                button.prop('disabled', true);
                var formdata = collectFormData();
                console.log("About to submit: ", formdata);

                post(formdata).then( () => {
                    button.prop('disabled', false);
                }).catch ( () => {
                    button.prop('disabled', false);
                });

                return false;
            });



        });

    </script>
