<% layout('layouts/frontoffice') %>

<div class="container">
    <div class="row">
        <h3>Oops, We've hit a snag</h3>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Critical error</h3>
            </div>
            <div class="panel-body">
                <p><%=error%></p>
            </div>
        </div>
    </div>
</div>
